%ul.header_links
  - if @provinces.length > 1
    %li
      %a#kingdom{:href => '#', :rel => 'kingdom'} Your Kingdom
    
  %li
    %a#province{:href => '#', :rel => 'province'} Your Province
      
  %li
    %a#people{:href => '#', :rel => 'people'} Your People
      
  %li
    %a#land{:href => '#', :rel => 'land'} Your Land
      
  %li
    %a#neighbors{:href => '#', :rel => 'neighbors'} Your Neighbors

  %li
    %a#wars{:href => '#', :rel => 'wars'} Your Wars