%h1 Sovereign
:javascript
  $(function(){
    FB.init("6510ca6b2168ec71d331037888bbc591", "/xd_receiver.htm"); 
  });
%fieldset
  %legend
    Welcome to Sovereign
  %h2
    Credentials
  .form_row
    %label{'for' => 'login'}
      Login
    %input#login{'type' => 'text', 'name' => 'login'}
  .form_row
    %label{'for' => 'password'}
      Password
    %input#password{'type' => 'password', 'name' => 'password'}
  .form_row
    %label{'for' => 'facebook'}
      Facebook Connect
    %input#facebook{'type' => 'radio', 'name' => 'auth_provider', 'value' => 'facebook'}
  .form_row
    %label{'for' => 'google'}
      Google Friend Connect
    %input#google{'type' => 'radio', 'name' => 'auth_provider', 'value' => 'google'}
  .form_row
    %label{'for' => 'myspace'}
      Myspace Connect
    %input#myspace{'type' => 'radio', 'name' => 'auth_provider', 'value' => 'myspace'}
%fb:login-button#facebook_login