!!! XML
!!!

%html
  %head
    %link{'rel' => 'stylesheet', 'type' => 'text/css', :href => 'css/main.css'}
    %script{'type' => 'text/javascript', 'src' => 'http://www.google.com/friendconnect/script/friendconnect.js'}
  %body
    = yield
