!!! XML
!!!

%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %link{'rel' => 'stylesheet', 'type' => 'text/css', :href => 'css/main.css'}
    %script{'type' => 'text/javascript', 'src' => '/js/jquery-1.2.6.min.js'}
    %script{'type' => 'text/javascript', 'src' => 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php'}
    %script{'type' => 'text/javascript', 'src' => '/js/main.js'}
  %body
    = yield