!!! XML
!!!

%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %link{'rel' => 'stylesheet', 'type' => 'text/css', :href => 'css/main.sass'}
    %link{'rel' => 'stylesheet', 'type' => 'text/css', :href => 'css/jqModal.css'}
    %script{'type' => 'text/javascript', 'src' => '/js/jquery-1.2.6.min.js'}
    %script{'type' => 'text/javascript', 'src' => '/js/jquery.form.js'}
    %script{'type' => 'text/javascript', 'src' => '/js/jquery.cookie.js'}
    %script{'type' => 'text/javascript', 'src' => '/js/jquery.livequery.js'}
    %script{'type' => 'text/javascript', 'src' => '/js/jqModal.js'}
    %script{'type' => 'text/javascript', 'src' => '/js/main.js'}
  %body
    = yield