= haml :'/partials/logged_in', :layout => false
= haml :'/province/header', :layout => false

%div#province_summary
  %h1== Province #{@province.name}

%div#people_summary
  %h1
    Your Land
  %h2
    Buildings
  %div.buildings
    = haml :'/province/land/buildings', :layout => false