@import url("reset-fonts-grids.css")
@import url("base-min.css")

fieldset
  border: 1px solid black
  width: 0%
  padding: 10px
  margin: auto auto

.failure
  color: red
  border: 1px dashed red
  
#register_modal
  display: none
  
ul.header_links li
  display: inline
  a
    &:hover
      text-decoration: none

table
  margin: 0 auto

div.buildings, div.construction_targets
  margin: 0 auto
  width: 400px
  border: 1px dashed gray

div.construction_targets
  &.drag_in_process
    img[building]
      #border: 4px solid blue
      opacity: 0.2
  img[building]
    border: 4px solid white
    &.available_build_target
      border: 4px solid yellow
      opacity: 0.9
    &.current_target_valid
      border: 4px solid green
      opacity: 1.0

div#build_queue
  width: 20em
  border: 1px dashed black
  height: 64px
  text-align: left
  clear: both

.ui-effects-transfer
  border: 1px solid black